version: '3'
services:
  db:
    image: mysql:8
    user: "${UID}:${GID}"
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    volumes:
      - ./initdb.d:/docker-entrypoint-initdb.d
    container_name: customize_game_mysql
  rust:
    build:
      context: .
      dockerfile: dockerfile/Dockerfile
    ports:
      - 5000:5000
    stdin_open: true
    volumes:
      - ./:/opt/program
    depends_on:
      - db
    container_name: customize_game_server
