name: cross build

on:
  push:
    branches-ignore:
      - 'develop'
      - 'staging'
      - 'master'

jobs:
  build:
    name: Test cross build
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-pc-windows-gnu
        include:
          - target: x86_64-unknown-linux-gnu
            os: [ubuntu-18.04, ubuntu-20.04]
          - target: x86_64-pc-windows-gnu
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: build ${{ matrix.os }}
        run: cargo build --release
